<div class="center hero-unit">
	<h1>Welcome to WebSite!</h1>
	<h3><i>I think you should sign up!</i></h3>
	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
